<!DOCTYPE html>
<html>
<head>
    <title>Crunchbase API</title>
</head>
<body>
    <h1>Welcome to Crunchbase API</h1>
    <p>Use the following endpoints:</p>
    <ul>
        <li><a href="/organizations">Get All Organizations</a></li>
        <li><a href="/organizations/rank/1">Get Organizations by Rank</a></li>
        <li><a href="/organizations/locations/Europe">Get Organizations by Location</a></li>
        <li><a href="/organizations/uuid/022417b5-4980-6c54-0f3c-6736bbbb1a5e">Get Organization by UUID</a></li>
        <li><a href="/organizations/name/Spotify">Get Organizations by Name</a></li>
    </ul>
</body>
</html>
